/* start our frame work */
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: auto;
    position: relative;
}
.table{
    height: 100%;
    display:table;
}
.table-row{
    display: table-row;
}
.text-center{
    text-align: center;
}
.upper{
    text-transform: uppercase;
}
.main-color{
    color: #f7680e;
}
.main-background{
    background-color: #f7680e;
}

.overlay{
    background:rgba(49,55,61,.5);
    width: 100%;
    height: 100%;
}
.hidden{
    display: none;
}
::-webkit-input-placeholder{
    font-size: 14px;
}

:-moz-input-placeholder{
    font-size: 14px;
}

:-ms-input-placeholder{
    font-size: 14px;
}
/* end framwork */
/* start header */
header{
    background: url(../img/ef035b19f992c84e9f17e75a350c35b5.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ddf;
}
header .navbar{
    overflow: hidden;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
header .navbar .links{
    float: right;
}
header .intro h1{
    margin: 0;
    font-weight: 800;
}
header .buttons button{
    background:transparent;
    padding: 10px 0;
    width: 180px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #909090;
    margin: 0 8px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
header .buttons button:hover{
    background: #f7680e;
    border: 1px solid #f7680e;
    color: #ddf;
}
header .arrow{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 40px 0;
}
header .arrow i{
    border: 2px solid #7B7B7B;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    line-height: 33px;
    cursor: pointer;
}
/* End header */
/* start section features */
#features{
    padding: 60px 0;
    overflow: hidden;
}
#features .box{
    width: 22%;
    float: left;
    margin-right: 4%;
}
#features .box:last-child{
    margin-right: 0;
}
#features .box i{
    color: #f7680e;
    border: 1px solid #ccc;
    width: 120px;
    line-height: 120px;
    height: 120px;
    border-radius: 50%;
    transition: .5s ease-in-out;
}
#features .box i:hover {
    background: #f7680e;
    color: #fff;
    border: 1px solid #f7680e;
    transform: scale(1.2);
}
#features .box h3{
    text-transform: uppercase;
    font-weight:normal;
    color: #656565;
}
#features .box p{
    line-height: 1.5;
    color: #888;
}
/* End section features */
/* start section subscipe */
#subscribe{
    background: url(../img/dribbble_vintage_corner.png) center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
#subscribe form{
    padding: 100px 0;
    width: 700px;
    margin: auto;
    text-align: center;
}
#subscribe form input[type="email"]{
    padding: 0 10px;
    width: 320px;
    font-size: 20px;
    border-radius: 10px;
    position: relative;
    top: 2px;
    border: none;
    height: 37px;
    font-weight: normal;
    line-height: 37px;
    
}
#subscribe form button{
    padding: 10px;
    width: 200px;
    border: 1px;
    background-color: #f7680e;
    border: none;
    color: #fff;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 14px;
}
/* end srction */
/* start our work */
#our-work{
    padding: 50px 0;
}
#our-work h2{
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 0;
}
#our-work h2 ~ p{
    line-height: 2;
    margin: 10px 0 40px;
}
#our-work .show-more {
    background: transparent;
    border: 1px solid #ccc;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    color: #555;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
#our-work .show-more:hover{
    background-color: #f7680e;
    border: 1px solid #f7680e;
    color: #fff;
}
#our-work .items-box{
    overflow: hidden;
}
#our-work .items-box .item{
    float: left;
    width: 30%;
    overflow: hidden;
    margin-left: 1.333333%;
    margin-bottom: 12px;
    border-radius: 10px;
    position: relative;
}
#our-work .items-box .item img{
    height: 350px;
    width: 350px;
}
#our-work .items-box .item video{
    height: 350px;
    width: 350px;
}
#our-work .items-box .item .over{
    position: absolute;
    top: -2.8px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(247,69,14,.5);
    color: #fff;
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    display: none;
}
#our-work .items-box .item:hover .over{
    display: block;
}
.our-work .item .over h4{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 0;
}
#our-work .item .over p{
    margin-top: 10px;
    margin-bottom: 50px;
    line-height: 2;
}
#our-work .item .over button{
    background: transparent;
    border: 1px solid #fff;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
#our-work .item .over button:hover{
    background-color: #fff;
    border: 1px solid #fff;
    color: #f7680e;
}
/* end our work */
/* start section testim */
 #testim{
     background: url(../img/photo-1563089145-599997674d42.jpg);
     background-size: cover;
     -moz-background-size: cover;
     -webkit-background-size: cover;
     background-attachment: fixed;
}
  #testim .client {
     padding: 50px 0;
     overflow: hidden;
     color: #fff;
 }
 #testim .client img{
    color: #f7680e;
    border: 1px solid #ccc;
    width: 150px;
    line-height: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    cursor: zoom-in;
 }
 #testim .client img:hover{
    background: #f7680e;
    color: #fff;
    border: 1px solid #f7680e;
    transform: scale(1.2);
 }
#testim .client p{
    line-height: 1.5;
    font-size: 20px;
    font-style: italic;
    color: #ffff;
}
#testim .fa-chevron-left:hover,
#testim .fa-chevron-right:hover{
    color: #f7680e;
}
#testim .fa-chevron-left,
#testim .fa-chevron-right{
    position: absolute;
    top: 50%;
    color: #999;
    cursor: pointer;
}
#testim .fa-chevron-left{
    left: 0;
}
#testim .fa-chevron-right{
    right: 0;
}
/* end section .testim */
/* start section our work */
#our-team{
    padding: 50px 0;
    font-size: 25px;
    margin-bottom: 1px;
    height: 125vh;
}
#our-team .main{
    margin: 10px 0 40px;
    line-height: 2;
    color: #666;
    font-size: 20px;
}
#our-team .the-team .person{
    float: left;
    width: 23%;
    color: #888;
    margin-left: 1.5%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
#our-team .the-team .person:hover img{
    filter: none;
    -webkit-filter: grayscale(0);

}
#our-team .the-team .person:hover{
    color: #555;
    transform: scale(1.2);
    margin-left: 1.5%;
   margin-bottom: 5%;
}
#our-team .the-team .person:hover .social-icons .fa-facebook{
    background-color: #3b5998;
}
#our-team .the-team .person:hover .social-icons .fa-twitter{
    background-color: #1da1f2;
}
#our-team .the-team .person:hover .social-icons .fa-google-plus{
    background-color: #dd4b39;
}
#our-team .the-team .person img{
    width: 265px;
    height: 290px;
    filter: gray;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
#our-team .the-team .person p{
    font-size: 15px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
#our-team .the-team .person .social-icons i{
    background: #9da1a5;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
/* end section our work */
/* start section */
.contact{
    background: url(../img/4_dr_2x.png);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: fixed;
}
.contact .overlay{
    padding: 50px 0;
    color: #fff;
}
.contact h2{
    font-size: 35px;
}
.contact form{
    width: 700px;
    margin:50px auto;
    text-align: center;
    overflow: hidden;
}
.contact form input[type="text"],
.contact form input[type="email"]{
    width: 48%;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    border:1.5px solid #cccc;
    background-color: transparent;
}
.contact form input[type="text"]{
    float: left;
}
.contact form input[type="email"]{
    float: right;
}
.contact form  textarea{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    height: 140px;
    border-radius: 10px;
    border:1.5px solid #cccc;
    background-color: transparent;
}
.contact form .info{
    overflow: hidden;
    margin-top: 10px;
}
.contact form .info button{
    float: left;
    padding: 10px;
    width: 200px;
    border: 1px;
    background-color: #f7680e;
    border: none;
    border-radius: 10px;
    margin-left: 0px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}
.contact form .info .form-icons{
    float: right;
}
.contact form .info .form-icons i{
    background-color: #9da1a5;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.contact form .info .form-icons .fa-facebook{
    background-color: #3b5998;
}
.contact form .info .form-icons .fa-twitter{
    background-color: #1da1f2;
}
.contact form .info .form-icons .fa-google-plus{
    background-color: #dd4b39;
}
/* end section */
/* start footer */
footer{
    background-color: #3b434c;
    color: rgb(226, 216, 216);
    overflow: hidden;
    padding: 20px 0;
}
footer .copyright{
    float: left;
}
footer .design{
    float: right;
}
/* end footer */